## 1. The oldest business in the world
<p>The database contains three tables.</p>
<h3 id="categories"><code>categories</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category</code></td>
<td>varchar</td>
<td>Description of the business category.</td>
</tr>
</tbody>
</table>
<h3 id="countries"><code>countries</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>varchar</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country</code></td>
<td>varchar</td>
<td>Name of the country.</td>
</tr>
<tr>
<td style="text-align:left;"><code>continent</code></td>
<td>varchar</td>
<td>Name of the continent that the country exists in.</td>
</tr>
</tbody>
</table>
<h3 id="businesses"><code>businesses</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>business</code></td>
<td>varchar</td>
<td>Name of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>year_founded</code></td>
<td>int</td>
<td>Year the business was founded.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>char</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
</tbody>
</table>

In [1]:
%%sql 
postgresql:///oldestbusinesses
 
select min(year_founded),max(year_founded)
from businesses

UsageError: Cell magic `%%sql` not found.

In [5]:
%%sql 

select count(business) 
from businesses

UsageError: Cell magic `%%sql` not found.

## 2. How many businesses were founded before 1000?

In [6]:
%%sql

select count(*)
from businesses
where year_founded <1000

UsageError: Cell magic `%%sql` not found.

## 3. Which businesses were founded before 1000?

In [ ]:
%%sql

select business 
from businesses
where year_founded<1000
order by year_founded asc

## 4. Exploring the categories

In [2]:
%%sql

select business, year_founded, country_code, category
from businesses
left join categories
using(category_code)
where year_founded <1000
order by year_founded

UsageError: Cell magic `%%sql` not found.

## 5. Counting the categories

In [ ]:
%%sql


select c.category,  count(category) as n
from businesses
join categories as c
using(category_code)
group by category
order by n desc
limit 10

## 6. Oldest business by continent

In [ ]:
%%sql


select min(year_founded) as oldest, continent 
from businesses
join countries
using(country_code)
group by continent
order by oldest asc

## 7. Joining everything for further analysis

In [3]:
%%sql

select business, year_founded, category, country, continent
from businesses
join countries 
using(country_code)
join categories
using(category_code)

UsageError: Cell magic `%%sql` not found.

## 8. Counting categories by continent
which are the most common categories for the oldest businesses on each continent?</p>

In [ ]:
%%sql

SELECT cnt.continent, cat.category, COUNT(*) AS n
    FROM businesses AS bus
    INNER JOIN categories as cat
        ON bus.category_code = cat.category_code
    INNER JOIN countries as cnt
        ON bus.country_code = cnt.country_code
    GROUP BY cnt.continent, cat.category;

## 9. Filtering counts by continent and category

In [ ]:
%%sql


SELECT cnt.continent, cat.category, COUNT(*) AS n
    FROM businesses AS bus
    INNER JOIN categories as cat
        ON bus.category_code = cat.category_code
    INNER JOIN countries as cnt
        ON bus.country_code = cnt.country_code
    GROUP BY cnt.continent, cat.category;
    having count(*) > 5